---
import Layout from "../layouts/Layout.astro";
import CardActivities from "../components/CardActivities.astro";
---
<Layout
	title="AMPA Fernando Magallanes de Marbella"
	description="Las noticias y eventos que sucedan en el AMPA y el Cole">
	<section>
		<h1>Actividades</h1>
		<CardActivities />
	</section>
</Layout>