---
import COMPANIONS from '../components/articles/companions';
// import '../css/equipo.css';
import Layout from "../layouts/Layout.astro";

// console.log(COMPANIONS, 'comp')

---
<Layout
	title="AMPA Fernando Magallanes de Marbella"
	description="Las noticias y eventos que sucedan en el AMPA y el Cole">

	<section>
		<h1>Equipo</h1>
		<span class="idem"><p>Esto es una mierda</p></span>
		<section>
			<p>Hola???</p>
		</section>
		{COMPANIONS.map((ident) => {
			<section class="idemMainBox">
				<p>hola mundo</p>
				<h2 class="idemName">{ident.name}</h2>
			</section>
		})}
		<!-- </section> -->
	</section>
</Layout>