---

import CardIndex from '../components/CardIndex';
import Layout from '../layouts/Layout.astro';

---

<Layout
	title="AMPA Fernando Magallanes de Marbella",
	description="Asociación de Padres y Madres Fernando Magallanes del CEIP Santa Teresa de Marbella">
	<main>
		<h1>Bienvenidos</h1>
		<div class="mainBoxGrid">
			<CardIndex />
		</div>
	</main>
</Layout>