---
import Layout from "../layouts/Layout.astro";
import CardNews from "../components/CardNews.astro";
---
<Layout
	title="AMPA Fernando Magallanes de Marbella"
	description="Las noticias y eventos que sucedan en el AMPA y el Cole">
	<section>
		<h1>Noticias</h1>
		<CardNews />
	</section>
</Layout>