---
import COMPANIONS from '../components/articles/companions';
import '../css/equipo.css';
import Layout from "../layouts/Layout.astro";
---
<Layout
	title="AMPA Fernando Magallanes de Marbella"
	description="Las noticias y eventos que sucedan en el AMPA y el Cole">

	<section>
		<h1>Equipo</h1>
		<div class="textIdent">
			<p>Este es el equipo que formamos la dirección del AMPA, pero solo es el principio, ya que, el grupo es mucho mayor, siendo parte de el, todos los padres y madres del colegio CEIP Santa Teresa.</p>
			<p>Recordar que cualquiera de nosotros estamos aquí para resolver vuestra dudas y ayudaros en lo que podamos. No dudeis en preguntarnos en la puerta del cole o enviarnos un email a través de la web, os responderemos en el menor tiempo posible.</p>
			<p>Un saludo desde la dirección del AMPA.</p>
		</div>
		<div class="boxAll">
		{COMPANIONS.map((ident) => (
			<section class="identMainBox">
					<h2 class="identName">{ident.name}</h2>
					<img src={ident.photo} alt={ident.name} class="photoCompa" />
					<h5 class="responsability">{ident.responsability}</h5>
		</section>
		))}
		</div>
	</section>
</Layout>