.newsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.news {
  background-color: var(--main-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}
h2,
p,
h5 {
  color: var(--main-blue);
}
h2 {
  text-decoration: underline;
}
p {
  font-weight: bold;
}
.imgNews {
  margin-top: 3px;
  width: 50px;
  object-fit: cover;
  border-radius: 10px;
}
