---
import '../css/footer.css'
---

<section class="mainFooter">
	<p class="text">Asociación de Madres y Padres Fernando Magallanes, del CEIP Santa Teresa</pss=>
	<p class="text">Curso 2023/2024</p>
</section>

