---
import '../css/general.css'
import Facebook from "./icons/Facebook.astro"
import Instagram from "./icons/Instagram.astro"
---
	<section class="mainImages">
		<img class="logo" src="/imgGlobal/logoSinFondo.png" alt="logo del AMPA" />
		<img class="colegio" src="/imgGlobal/fotoGeneralColeMod.webp" alt="Foto General del cole" />
		<span class="rrss">
			<a href="https://www.instagram.com/ampafernandomagallanes"
			target="_blank"
			rel="noopener">
				<Instagram class="icons" />
			</a>
			<a href="https://www.facebook.com/ampafernandomagallanes"
			target="_blank"
			rel="noopener">
				<Facebook class="icons" />
			</a>
		</span>
	</section>