---
import Instagram from "./icons/Instagram.astro"
import Facebook from "./icons/Facebook.astro"
import '../css/general.css'
---
<section>
	<section class="imagenes">
		<img class="logo" src="/imgGlobal/logoSinFondo.png" alt="logo del AMPA" />
		<img class="colegio" src="/imgGlobal/fotoGeneralColeMod.webp" alt="Foto General del cole" />
		<span class="rrss">
			<a href="https://www.instagram.com/ampafernandomagallanes"
			target="_blank"
			rel="noopener">
				<Instagram class="icons" />
			</a>
			<a href="https://www.facebook.com/ampafernandomagallanes"
			target="_blank"
			rel="noopener">
				<Facebook class="icons" />
			</a>
		</span>
	</section>
	<nav class="menu">
		<a
			href="/"
		>
			<p class="textHeader">Inicio</p>
		</a>
		<a
			href="/news"
			>
		<p class="textHeader">Noticias</p>
		</a>
		<a
			href="/activities"
			>
		<p class="textHeader">Actividades</p>
		</a>
		<!-- <p>Equipo</p> -->
		<a
			href="https://blogsaverroes.juntadeandalucia.es/colegiosantateresa/"
			target="_blank"
			rel="noopener"
		>
			<p class="textHeader">Nuestro Cole</p>
		</a>
		<a
			href="/contact"
		>
			<p class="textHeader">Contacto con nosotros</p>
		</a>
	</nav>
</section>