
---
import '../css/general.css'
---

<section class="mainNav">
  <a
    href="/"
  >
    <p class="textHeader">Inicio</p>
  </a>
  <a
    href="/news"
    >
  <p class="textHeader">Noticias</p>
  </a>
  <a
    href="/activities"
    >
  <p class="textHeader">Actividades</p>
  </a>
  <!-- <p>Equipo</p> -->
  <a
    href="https://blogsaverroes.juntadeandalucia.es/colegiosantateresa/"
    target="_blank"
    rel="noopener"
  >
    <p class="textHeader">Nuestro Cole</p>
  </a>
  <a
    href="/contact"
  >
    <p class="textHeader">Contacto con nosotros</p>
  </a>
</section>