/* Elementos de Footer y Header */
h1 {
  color: var(--main-textBlue);
  font-weight: bold;
}
.mainBoxContact {
  box-sizing: border-box;
  background-color: var(--main-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
}
.textContact {
  color: var(--main-blue);
  font-weight: bold;
}
.textContactExtended {
  color: var(--main-blue);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
