.boxAll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.identMainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--main-yellow);
  margin: 20px;
  width: 250px;
}
.identName {
  font-weight: bold;
  font-size: large;
  color: var(--main-blue);
  padding-bottom: 10px;
}
.responsability {
  font-size: large;
  padding-top: 10px;
  color: var(--main-blue);
  font-weight: 600;
}
.photoCompa {
  border-radius: 20px;
  height: 200px;
  object-fit: contain;
}
