.mainFooter {
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.text {
  color: var(--main-textBlue);
  font-weight: bold;
}

@media (width <= 600px) {
  .mainFooter {
    border-radius: 0;
  }
}
