/* Elementos de Footer y Header */
h1 {
  color: var(--main-textBlue);
  font-weight: bold;
}
.mainBlock {
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.text {
  color: var(--main-textBlue);
  font-weight: bold;
}

/* Css header--------------------- */

.imagenes {
  background-color: var(--main-blue);
  border-radius: 15px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rrss {
  display: flex;
  flex-direction: column;
}
.icons {
  width: 60px;
  height: 60px;
  background-color: rgb(194 208 248 /0.3);
  border-radius: 15px;
  &:last-child {
    margin-top: 10px;
  }
  &:hover {
    scale: 130%;
  }
}
.logo {
  height: 250px;
  width: 250px;
}
.colegio {
  height: 200px;
}

.menu {
  background-color: var(--main-yellow);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textHeader:hover {
  scale: 130%;
}

a {
  text-decoration: none;
}
/* --- Css contact --- */
.mainBoxContact {
  box-sizing: border-box;
  background-color: var(--main-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
}
.textContact {
  color: var(--main-blue);
  font-weight: bold;
}
.textContactExtended {
  color: var(--main-blue);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width <= 600px) {
  .imagenes {
    display: flex;
    flex-direction: column;
  }
  .rrss {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
