---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--bg-back: #cfe9f7;
		--main-blue: #0054A8;
		--main-textBlue: #cde3f8;
		--main-yellow: #F7B925;
		--main-gray: #C2C1C4;
		--main-orange: #EDE3CD;
		list-style: none;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--bg-back);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body {
		width: 80%;
		margin-top: 10px;
	}
	h1 {
		color: var(--main-yellow);
		background-color: var(--main-blue);
		border-radius: 15px;
		margin-top: 15px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	p{
		font-weight: bold;
		color: var(--main-blue);
	}
</style>
